:root {
    --primary-blue-1: #183762; 
    --primary-blue-2: #2967CB; 
    --primary-blue-3: #3B82F6; 
    --primary-blue-4: rgba(59, 130, 246, 0.50); 
    --secondary-grey_1: rgba(1, 5, 7, 0.80); 
    --secondary-grey_2: #333; 
    --secondary-grey_3: #424242; 
    --secondary-grey_4: #696969; 
    --secondary-grey_5: #F4F4F4; 
    --incomplete-status-dark: #EBB700; 
    --incomplete-status-mid: #F9BF39; 
    --incomplete-status-light: rgba(249, 191, 57, 0.60); 
    --failed-status-dark: #E30605; 
    --failed-status-mid: #F80302; 
    --failed-status-light: rgba(248, 3, 2, 0.31); 
    --success-status-dark: #00A544; 
    --success-status-mid: rgba(1, 200, 83, 0.80); 
    --success-status-light: rgba(1, 200, 83, 0.31); 
}